Click==7.0
datefinder==0.7.0
Flask==2.3.2
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==1.2
MarkupSafe==1.1.1
numpy==1.22.0
opencv-python==4.2.0.32
pandas==0.24.2
Pillow==9.3.0
pytesseract==0.3.0
python-dateutil==2.8.1
pytz==2019.3
regex==2019.11.1
six==1.13.0
Werkzeug==3.0.1
